::-webkit-scrollbar {
  display: none;
}

html, body {
  padding: 0;
  margin: 0;

  --color: var(--color-theme-1);
  --bg-color: var(--color-theme-2);

  color: var(--color);
  background-color: var(--bg-color);

  overflow: hidden;
}

rotate-content {
  --scale: 2;
  position: absolute;
  display: block;
  overflow: hidden;
  height: calc(100vw / var(--scale));
  width: calc(100vh / var(--scale));
  top: calc(-100vw / var(--scale));
  left: 0;
  transform: rotate(90deg) scale(var(--scale));
  transform-origin: bottom left;
}